:root{
    --red-background-colour: #FF4646;
    --purple-background-colour: #9453FF;
    --white-ui--transparent: rgba(217, 217, 217, 0.3);
    --border-ui : 3px solid rgba(255, 255, 255, 0.2);
    --font-color: #FFFFFF;
}

body {
    background-image: linear-gradient(85deg, var(--red-background-colour), var(--purple-background-colour));
    margin: 0px;
    background-size: 150% 150%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family:'Roboto', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

svg{
    margin: 0px;
    overflow: visible;
    box-sizing: border-box;
    position: fixed;
    display: block;
}
svg#first{
    transform: translate();
    width: 10000px;
}

#circles g{
    position: absolute;
    animation: breathe 10s ease-in-out infinite;
    animation-delay: calc(var(--order) *2000ms);
    transform-origin: center;
}

@keyframes breathe{
    50%{
        transform: scale(1.2);
    } 90%{
        transform: scale(0.8);
    }
}

.formContainer{
    margin-top: 100px;
    width: 40%;
    height: 800px;

    background: var(--white-ui--transparent);
    border: var(--border-ui);
    backdrop-filter: blur(40px);
    border-radius: 5rem;
    color: var(--font-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75%;
}

.formContainer>h1{
    animation: 1s scrollUp ease forwards;
    font-size: 3.2rem;
    font-weight: 800;
    margin: 20px 0px 0px 0px;
    overflow: hidden;
}

.formContainer>h1>em{
    font-style: italic;
}

@keyframes scrollUp{
    from{
        opacity: 0;
        transform: translateY(110%);
    } to{
        transform: translateX(0);
        opacity: 1;
    }
}

.formContainer>h2{
    opacity: 0;
    animation: 1s slideIn 1s forwards;
    margin: 0px;
    font-weight: 300;
    font-size: 2rem;
}

.formContainer>h2>em{
    font-weight: 100;
    font-style: italic;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateX(-10%);
    } to{
        transform: translateX(0);
        opacity: 1;
    }
}

.namesContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nameContainer{
    display: flex;
    flex-direction: column;
}

label{
    margin: 5px 7px;
    position: absolute;
    font-weight: 100;
    font-size: .7rem;
}

.nameContainer>input{
    width: 275px;
}

.emailContainer>input{
    width: 100%;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password']{
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 40px;
    color: var(--font-color);
    appearance: none;
    background-color: var(--white-ui--transparent);
    border: none;
    border: var(--border-ui);
    border-radius: 1rem;
    height: 50px;
    box-sizing: border-box;
    transition: 0.1s;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='password']:focus{
    outline: none;
    border: 3px solid rgba(255, 255, 255, .6);
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.6);
    transform: scale(1.02);
    transition: 0.1s;
}

input[type='email']:invalid{
    border: 3px solid rgb(255, 0, 0);
}

input[type='email']::placeholder,
input[type='tel']::placeholder{
    color: rgba(255, 255, 255, 0.356);
}